In [16]:
%reload_ext autoreload
%autoreload 2
 
from pexl.io.csv import read_dataset_dir, normalize_table

tables = read_dataset_dir("../data/schemas/dev")

In [ ]:
tables["IN"].head()

                var_name ka       Type  ... Icon    Formel    bind_type
0           project_name  2  userinput  ...    ğŸ“   ğŸ™ï¸!$D$5  formula_ref
1            project_url  2  userinput  ...    ğŸ“     ğŸ™ï¸!D6  formula_ref
2       location_address  2  userinput  ...    ğŸ“  ğŸ™ï¸!$D$12  formula_ref
3      municipality_name  2  userinput  ...    ğŸ“    ğŸ™ï¸!D14  formula_ref
4  project_creation_date  2  userinput  ...    ğŸ“   ğŸ™ï¸!$D$7  formula_ref

[5 rows x 9 columns]

In [ ]:
tables["OUT"].head()

        var_name ID           Kategorie  ...     Einheit Label Kommentar
0  UED_plugloads     Nutzenergiebedarfe  ...  kWh/mÂ²NGFa
1   UED_lighting     Nutzenergiebedarfe  ...  kWh/mÂ²NGFa
2  UED_auxiliary     Nutzenergiebedarfe  ...  kWh/mÂ²NGFa
3    UED_heating     Nutzenergiebedarfe  ...  kWh/mÂ²NGFa
4    UED_cooling     Nutzenergiebedarfe  ...  kWh/mÂ²NGFa

[5 rows x 8 columns]

In [18]:
norm_in = normalize_table(tables["IN"], key_cols=["var_name"])
norm_out = normalize_table(tables["OUT"], key_cols=["var_name"])

norm_out.head()

                var_name ID        Kategorie  ...     Einheit Label Kommentar
0               Batt_FEC     Batterienutzung  ...           x
1               Batt_RTE     Batterienutzung  ...
2     Batt_charge_losses     Batterienutzung  ...  kWh/mÂ²NGFa
3  Batt_discharge_losses     Batterienutzung  ...  kWh/mÂ²NGFa
4         Batt_to_Ec_min           EE-Bilanz  ...  kWh/mÂ²NGFa

[5 rows x 8 columns]

In [ ]:
from pexl.io.converter import

ModuleNotFoundError: No module named 'pexl.io.converter'